html, body {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  background: url(https://gp1.wac.edgecastcdn.net/806614/photos/photos.500px.net/62569791/50fffce2c3a3f39140aa728e891b6ec0ee2d4504/2048.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.panel-title {
  font-family: 'Droid Serif', serif;
  font-size: 20px;
}